*{
    margin: 0%;
    padding: 0%;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif; 
    overflow: hidden;
}

.img{
    margin-left: -290px;
    margin-top: 30px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heading{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -60px;
}

h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form > div{
position: relative;
box-sizing: border-box;
}

.form input{ 
    padding: 20px;
    width: 300px;
    margin-top: 20px;
    border: 1px solid rgb(185, 193, 197);
    padding-left: 7px;
    outline-color: rgb(73, 167, 230);
    font-size: 16px;
    border-radius: 5px;
}
.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.btn button{
    width: 330px;
    margin-top: 30px;
    padding: 14px;
    background-color: rgb(29, 161, 242);
    border: none;
    color: white;
    font-size: 17px;
    border-radius: 30px;
    opacity: .5;
}

.bottom {
    margin-top: 30px;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bottom a{
    margin: 5px;
    text-decoration: none;
    color:  rgb(34, 152, 226);
}

.bottom a:hover{
    text-decoration: underline;
}

.form input+label{
    position: absolute;
    font-size: 15px;
    left: 10px;
    top: 40px;
    transition: 0.3s;
    color: rgb(73, 71, 71);
}

.form input:not(:placeholder-shown) + label,
.form input:focus + label{
  font-size: 85%;
  top: 25px;
  font-weight: 500;
  color: rgb(73, 167, 230);
}

